.delete-popup-user{
    margin: 0;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
  }
  .action-school-subject:hover i {
    color: #F26522;
  }
  
  .title-action {
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  title-action::before{
    content: '';
    height: 10px;
    width: 10px;
    background: red;
    position: absolute;
    top :10px;
    right: 0;
  
  }
  
  
  
  .btn-action-sc {
    width: 90px;
    height: 27px;
    cursor: pointer;
    padding: 0 9px;
  
    svg {
      margin-right: 5px;
    }
  
    border-radius: 2px;
  }
  
  .edit {
    background: #F3F6FF;
  }
  
  .delete {
    background: #FDF4F4;
  }
  
  ul {
    display: none;
    margin-left: 0px;
    z-index: 99999999;
    position: absolute;
    left: -113px;
    top: 0px;
    width: 110px;
    background: #FFFFFF;
    //box-shadow: 0px 10px 20px rgba(0 0 0 / 10%);
    border-radius: 4px;
    padding: 10px;
    list-style: none;
  }
  
  .action-school-subject {
    position: relative;
    margin-top: 1px;
  }
  
  .action-school-subject::before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: -17px;
    //background: red;
  }
  
  .action-school-subject:hover ul {
    display: block;
    position: absolute !important;
    z-index: 1000 !important;
  
    .addnew-unit-md{
      background: #FFFFFF;
      box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
      border-radius: 16px !important;
    }
    .row{
      margin: 0px 15px;
    }
    .witget-title{
  
      border-radius: 8px 8px 0px 0px;
      font-weight: bold;
      font-size: 16px;
      line-height: 52px;
      text-transform: uppercase;
      color: #101840;
      height: 52px;
      padding-left: 20px;
    }
    .menu-action-dv{
      border-bottom: 1px solid #E6E8F0;
      box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
      font-weight: bold;
      color: #101840;
      display: flex;
      height: 52px;
  
    }
    .list-action-dv{
      display: flex;
      margin-left: auto;
    }
    .btn-action-dv{
      display: flex;
      align-items: center;
      width: 98px;
      height: 32px;
      font-weight: 600;
      font-size: 12px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      justify-content: center;
      margin-left: 15px;
      svg{
        margin-right: 10px;
      }
    }
    .btn-action-dv.blue{
      background: #3366FF;
    }
    .btn-action-dv.gray{
      background: #696F8C;
    }
    .menu-action-dv h3{
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #101840;
      padding-top: 14px;
    }
    .search-dv label{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #474D66;
    }
    .search-dv input{
      background: #FFFFFF;
      border: 1px solid #D8DAE5;
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
    }
    .search-dv button{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 32px;
      height: 40px;
      background: #F26522;
      border-radius: 4px;
      color: #fff;
      border: none;
      justify-content: center;
      font-weight: 600;
  
    }
    .search-dv{
      margin-top: 20px !important;
      align-items: flex-end;
    }
    .search-dv>div{
      display: flex;
      flex-direction: column;
    }
    .search-dv input{
      width: 100%;
      padding-left: 10px;
    }
    .ag-row-odd{
      background: #F9FAFC;
    }
    .ft-table-school{
      display: flex;
      justify-content: space-between;
    }
    .ft-table-school ul{
      display: flex;
      list-style: none;
    }
    .list-dv-sc{
      list-style: none;
      padding-left: 0px;
      margin-left: 0px;
    }
    .list-dv-sc li{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #474D66;
      text-transform: uppercase;
      border-top: 1px solid #F4F6FA;
      padding: 15px 20px;
    }
    .col-iner{
      border: 1px solid #E6E8F0;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
      border-radius: 10px;
    }
    .addnew-unit-md{
      background: #FFFFFF;
      box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
      border-radius: 16px !important;
      margin-top: 100px;
    }
    .modal-dialog-custom label{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #474D66;
    }
    .modal-dialog-custom .row input{
      background: #FFFFFF;
      border: 1px solid #D8DAE5;
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
      width: 100%;
      padding-left: 10px;
    }
    .modal-dialog-custom .row>div{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      span{
        color: red;
      }
      textarea{
        height: 76px;
        background: #FFFFFF;
        border: 1px solid #D8DAE5;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
      }
    }
    .modal-dialog-custom .row{
      margin: 0px;
    }
    .btn-md{
      width: 105px;
      height: 32px;
      left: 726px;
      top: 774px;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      border: none;
    }
    .btn-gray{
      background: #E6E8F0;
      margin-right: 10px;
      color: #696F8C;
    }
    .btn-or{
      background: #F26522
    }
    .modal-footer .btn-action{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .modal-title{
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600 !important;
      width: 100%;
    }
    .des{
      font-weight: normal;
      font-size: 14px;
      text-align: center;
      color: #8F95B2;
      margin-top: 10px;
    }
  
    .modal-dialog-custom .title-list-file{
      width: 100%;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      p{
        font-weight: 600;
        font-size: 14px;
        color: #474D66;
        margin-bottom: 0px;
      }
      a{
        font-weight: 600;
        font-size: 12px;
        color: #3366FF;
        margin-left: 5px;
      }
      div{
        display: flex;
        align-items: center;
      }
    }
    angular-file-uploader, #div1{
      width: 100%;
    }
    .list-file-result{
      width: 100%;
      justify-content: space-between !important;
      flex-direction: row !important;
      margin-top: 15px;
      margin-bottom: 0px !important;
      p{
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #101840;
        i{
          color: #52BD94;
          font-style: normal;
          font-size: 12px;
          margin:0px 3px;
        }
      }
      a{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #3366FF;
        cursor: pointer;
      }
    }
    .import-er{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #101840;
      margin-top: 5px;
      i{
        color: red;
        font-style: normal;
        font-size: 12px;
        margin:0px 3px;
        font-size: 12px;
      }
    }
    .modal-footer .type-action{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  
  
  .witget-title{
    background: #F26522;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    height: 52px;
  }
  .menu-action-subject{
    border-bottom: 1px solid #E6E8F0;
    box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
    font-weight: bold;
    color: #101840;
    display: flex;
    height: 52px;
  
  }
  .list-action-subject{
    display: flex;
    margin-left: auto;
  }
  .btn-action-subject{
    display: flex;
    align-items: center;
    width: 98px;
    height: 32px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin-left: 15px;
    svg{
      margin-right: 10px;
    }
  }
  .btn-action-subject.blue{
    background: #3366FF;
  }
  .btn-action-subject.gray{
    background: #696F8C;
  }
  .menu-action-subject h3{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #101840;
    padding-top: 14px;
  }
  .search-subject label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #474D66;
  }
  .search-subject input{
    background: #FFFFFF;
    border: 1px solid #D8DAE5;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
  }
  .search-subject button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    height: 40px;
    background: #F26522;
    border-radius: 4px;
    color: #fff;
    border: none;
    justify-content: center;
    font-weight: 600;
  
  }
  .search-subject{
    margin-top: 20px !important;
    align-items: flex-end;
  }
  //.search-dv>div{
  //  display: flex;
  //  flex-direction: column;
  //}
  
  
  
  
  
  
  
  
  .modal-dialog-custom .row{
    margin: 0px;
  }
  .btn-md{
    width: 105px;
    height: 32px;
    left: 726px;
    top: 774px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border: none;
  }
  .btn-gray{
    background: #E6E8F0;
    margin-right: 10px;
    color: #696F8C;
  }
  .btn-or{
    background: #F26522
  }
  .modal-footer{
    display: flex;
    justify-content: center;
  }
  
  .last-ele {
    margin-left: 0px;
    z-index: 99999999;
    position: absolute;
    left: -113px;
    top: -54px;
    width: 110px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
  }
  
  .middle-ele {
    margin-left: 0px;
    z-index: 99999999;
    position: absolute;
    left: -113px;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
  }
  
  .fix-width{
    max-width: 466px !important;
    .modal-content{
      max-width: 466px !important;
    }
  }
  
  .template{
    max-width: 466px;
    width: 466px;
  }
  
  button:hover{
    opacity: 0.7;
  }
  
  
  
  