<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-primary spinner-center" role="status">
  </div>
</div>
<div class="modal-content modal-dialog-custom">
  <div class="modal-header">
    <h4 *ngIf="!isUpdate">Thêm mới sản phẩm</h4>
    <h4 *ngIf="isUpdate">CẬP NHẬT sản phẩm</h4>
  </div>

  <div class="modal-body" style="padding: 15px;">
    <div class="row"> 
      <div class="col-md-6">
        <label class="input-label"> Code <span>*</span></label>
        <input type="text" class="input-typing overflow-dot" [(ngModel)]="body.code"
          (keydown)="revoveInvalid(validCode)" (blur)="validateCode()" [disabled]="isUpdate"
          placeholder="Nhập Code" matTooltipClass="material-tooltip">
        <div class="validate-input" *ngIf="!validCode.done">
          <p class="validate-input-label" *ngIf="validCode.empty">Code không được bỏ trống</p>
          <p class="validate-input-label" *ngIf="validCode.maxLength">Code không được nhập quá 50 ký tự</p>
          <p class="validate-input-label" *ngIf="validCode.UTF8 || validCode.space">Code không được chứa kí tự có dấu hoặc khoảng trắng</p>
        </div>
      </div>

      <div class="col-md-6">
        <label class="input-label">Tên sản phẩm <span>*</span></label>
        <input type="text" class="input-typing overflow-dot" [(ngModel)]="body.name"
          (keydown)="revoveInvalid(validName)" (blur)="validateName()"
          placeholder="Nhập tên sản phẩm" matTooltipClass="material-tooltip">
        <div class="validate-input" *ngIf="!validName.done">
          <p class="validate-input-label" *ngIf="validName.empty">Tên sản phẩm không được bỏ trống</p>
          <p class="validate-input-label" *ngIf="validName.maxLength">Tên sản phẩm không được nhập quá 50 ký tự</p>
        </div>
      </div>

      <div class="col-md-6">
        <label class="input-label">Giá sản phẩm <span>*</span></label>
        <input type="text" 
          class="input-typing overflow-dot" 
          [(ngModel)]="body.price"
          (keydown)="revoveInvalid(validPrice)" (blur)="validatePrice()" 
          placeholder="Nhập giá sản phẩm" matTooltipClass="material-tooltip">
        <div class="validate-input" *ngIf="!validPrice.done">
          <p class="validate-input-label" *ngIf="validPrice.empty">Giá sản phẩm không được bỏ trống</p>
          <p class="validate-input-label" *ngIf="validPrice.maxLength">Giá sản phẩm không được nhập quá 50 ký tự</p>
          <p class="validate-input-label" *ngIf="validPrice.format">Giá sản phẩm không đúng định dạng</p>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <label class="input-label"> Giảm giá <span>*</span></label>
        <input type="number" class="input-typing overflow-dot"  
          min="0"
          max="100"
        [(ngModel)]="body.discount"
          (keydown)="revoveInvalid(validDiscount)" (blur)=" ()" 
          placeholder="Nhập giá Giảm giá" matTooltipClass="material-tooltip">
        <div class="validate-input" *ngIf="!validDiscount.done">
          <p class="validate-input-label" *ngIf="validDiscount.empty">Giảm giá không được bỏ trống</p>
          <p class="validate-input-label" *ngIf="validDiscount.maxLength">Giảm giá không được nhập quá 50 ký tự</p>
          <p class="validate-input-label" *ngIf="validDiscount.format">Giảm giá không đúng định dạng</p>
        </div>
      </div> -->
      <div class="col-md-6">
        <label class="input-label"> Giảm giá</label>
        <input type="number" class="input-typing overflow-dot"  
          min="0"
          max="100"
          [(ngModel)]="body.discount"
          placeholder="Nhập giá Giảm giá" matTooltipClass="material-tooltip">
      </div>

      <div class="col-md-6">
        <label for="">Chọn size <span>*</span></label>
        <ng-select
          [items]="listAllSize"
          style="font-size: 12px; font-family: Inter; height: 40px;"
          bindLabel="name"
          bindValue="id"
          placeholder="Lựa chọn"
          [hideSelected]="false"
          [closeOnSelect]="false"
          [multiple]="true"
          [(ngModel)]="body.listTransSize"
          (change)="validate()"
          [selectableGroupAsModel]="false"
        >
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:2">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">+{{items.length - 2}}</span>
          </div>
          </ng-template>
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-optgroup-tmp>
            <mat-checkbox id="item-{{index}}" (click)="false" class="ng-select-checkbox" [(ngModel)]="item$.selected" > {{item.name}}</mat-checkbox>
          </ng-template>
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
            <mat-checkbox id="item-{{index}}" (click)="false" class="ng-select-checkbox" [(ngModel)]="item$.selected"> {{item.name}}</mat-checkbox>
          </ng-template>
        </ng-select>
        <span class="text-left cross-validation-error-message alert error_div"
          *ngIf="messagerListType" >
          Chọn size sản phẩm áp dụng không được để trống
        </span>
      </div>

      <div class="col-md-6">
        <label for="">Chọn Color <span>*</span></label>
        <ng-select
          [items]="listAllColor"
          style="font-size: 12px; font-family: Inter; height: 40px;"
          bindLabel="name"
          bindValue="id"
          placeholder="Lựa chọn"
          [hideSelected]="false"
          [closeOnSelect]="false"
          [multiple]="true"
          [(ngModel)]="body.listTransColor"
          (change)="validateColor()"
          [selectableGroupAsModel]="false"
        >
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:2">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">+{{items.length - 2}}</span>
          </div>
          </ng-template>
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-optgroup-tmp>
            <mat-checkbox id="item-{{index}}" (click)="false" class="ng-select-checkbox" [(ngModel)]="item$.selected" > {{item.name}}</mat-checkbox>
          </ng-template>
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
            <mat-checkbox id="item-{{index}}" (click)="false" class="ng-select-checkbox" [(ngModel)]="item$.selected"> {{item.name}}</mat-checkbox>
          </ng-template>
        </ng-select>
        <span class="text-left cross-validation-error-message alert error_div"
          *ngIf="messagerListTypeColor" >
          Chọn Color sản phẩm áp dụng không được để trống
        </span>
      </div>

      <div class="col-md-6">
        <label >Thể loại <span>*</span></label>
        <ng-select  [items]="listCategory" 
                    placeholder="Lựa chọn" 
                    class="input-select" 
                    bindLabel="name" 
                    bindValue="id"
                    [(ngModel)]="body.categoryId" 
                    [searchable]="false" 
                    [clearable]="false">
        </ng-select>
      </div>
      <div class="col-md-6">
        <label>Nhãn hàng <span>*</span></label>
        <ng-select  [items]="listBrand" 
                    placeholder="Lựa chọn" 
                    class="input-select" 
                    bindLabel="name" 
                    bindValue="id"
                    [(ngModel)]="body.brandId" 
                    [searchable]="false" 
                    [clearable]="false">
        </ng-select>
      </div>

      <div class="col-md-6">
        <label class="input-label"> Số lượng <span>*</span></label>
        <input type="number" class="input-typing overflow-dot"  
          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0+/, '');"
          [(ngModel)]="body.quantity"
          (keydown)="revoveInvalid(validQuantity)" (blur)="validateQuantity()" 
          placeholder="Nhập Số lượng" matTooltipClass="material-tooltip">
        <div class="validate-input" *ngIf="!validQuantity.done">
          <p class="validate-input-label" *ngIf="validQuantity.empty">Số lượng không được bỏ trống</p>
          <p class="validate-input-label" *ngIf="validQuantity.format">Số lượng không đúng định dạng</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="upload-img">
      
          <label>
            Ảnh sản phẩm
            <span class="star">*</span>
            <span class="title">(Tối thiểu 1 ảnh và tối đa 5 ảnh)</span>
          </label>
    
          <div class="upload-file-image">
            <div class="list-upload-file" *ngFor="let imgPath of listImgAvail; let i = index">
              <label for="" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                  <g clip-path="url(#clip0_54431_131441)">
                    <path d="M1.30688 8.67047C4.72751 4.26609 10.2731 4.26609 13.6938 8.67047" stroke="#131416" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.64572 6.31204C10.7441 7.41039 10.7441 9.19117 9.64572 10.2895C8.54737 11.3879 6.76659 11.3879 5.66824 10.2895C4.56989 9.19117 4.56989 7.41039 5.66824 6.31204C6.76659 5.21369 8.54737 5.21369 9.64572 6.31204Z" stroke="#131416" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_54431_131441">
                      <rect width="15" height="15" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                  </defs>
                </svg>
              </label>
              <label for="" class="icon1" (click)="deleteFileAvail(imgPath)">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                  <path d="M10.0863 13.625H4.91126C4.25688 13.625 3.71313 13.12 3.66438 12.4669L3.10376 4.875H11.875L11.3331 12.4638C11.2863 13.1181 10.7419 13.625 10.0863 13.625Z" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7.5 7.375V11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.5 4.875H12.5" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10.625 4.875L9.99188 3.18625C9.80875 2.69812 9.3425 2.375 8.82125 2.375H6.17875C5.6575 2.375 5.19125 2.69812 5.00812 3.18625L4.375 4.875" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.64312 7.375L9.375 11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.35693 7.375L5.62506 11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </label>
              <img [src]="imgPath" alt="" style="width: 100%; height: 100%; border-radius: 10px;">
            </div>
            
            <div class="list-upload-file" *ngFor="let imagePath of listImagePaths; let i = index">
              <label for="" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                  <g clip-path="url(#clip0_54431_131441)">
                    <path d="M1.30688 8.67047C4.72751 4.26609 10.2731 4.26609 13.6938 8.67047" stroke="#131416" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.64572 6.31204C10.7441 7.41039 10.7441 9.19117 9.64572 10.2895C8.54737 11.3879 6.76659 11.3879 5.66824 10.2895C4.56989 9.19117 4.56989 7.41039 5.66824 6.31204C6.76659 5.21369 8.54737 5.21369 9.64572 6.31204Z" stroke="#131416" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_54431_131441">
                      <rect width="15" height="15" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                  </defs>
                </svg>
              </label>
              <label for="" class="icon1" (click)="deleteFileUpload(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                  <path d="M10.0863 13.625H4.91126C4.25688 13.625 3.71313 13.12 3.66438 12.4669L3.10376 4.875H11.875L11.3331 12.4638C11.2863 13.1181 10.7419 13.625 10.0863 13.625Z" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7.5 7.375V11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.5 4.875H12.5" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10.625 4.875L9.99188 3.18625C9.80875 2.69812 9.3425 2.375 8.82125 2.375H6.17875C5.6575 2.375 5.19125 2.69812 5.00812 3.18625L4.375 4.875" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.64312 7.375L9.375 11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.35693 7.375L5.62506 11.125" stroke="#131416" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </label>
              <img [src]="sanitizeBlobUrl(imagePath)" alt="" style="width: 100%; height: 100%; border-radius: 10px;">
            </div>
    
            <div class="upload-file" (keyup.enter)="file.click()" *ngIf="listImagePaths.length < 5">
              <label for="upload" class="img">
                <svg xmlns="http://www.w3.org/2000/svg"  width="64" height="64" viewBox="0 0 64 64" fill="none">
                  <path fill-rule="evenodd" style="fill: #c3c3c3;" clip-rule="evenodd" d="M32.0026 56.0544C30.7013 56.0544 29.3946 55.7158 28.232 55.0384C24.8666 53.1051 19.6053 50.7078 13.7093 50.2838C9.75996 50.0224 6.66663 46.7664 6.66663 42.8731V15.2997C6.66663 13.201 7.56529 11.193 9.13063 9.79303C10.72 8.36903 12.8613 7.67836 14.984 7.92369C21.0693 8.58236 26.2746 11.0037 29.5733 12.921C31.072 13.7957 32.9333 13.793 34.4266 12.9237C37.7226 11.0037 42.9306 8.58236 49.0213 7.92369C51.1573 7.68903 53.2826 8.36903 54.872 9.79303C56.4373 11.193 57.3333 13.201 57.3333 15.2997V42.8731C57.3333 46.7691 54.24 50.0251 50.288 50.2838C44.3973 50.7078 39.1386 53.1051 35.7626 55.0438C34.6053 55.7158 33.304 56.0544 32.0026 56.0544ZM30.001 43.7016C30.001 44.8056 30.897 45.7016 32.001 45.7016C33.105 45.7016 34.001 44.8056 34.001 43.7016V25.7016C34.001 24.5976 33.105 23.7016 32.001 23.7016C30.897 23.7016 30.001 24.5976 30.001 25.7016V43.7016Z" fill="white"/>
                </svg>
              </label>
              <label for="upload" class="img1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M4.25 8H11.75" stroke="black" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 11.75V4.25" stroke="black" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </label>
              <input #file multiple="multiple" 
                    type="file" id="upload" 
                    (change)="uploadFile($event)"
                    style="display: none;">
            </div>
          </div>

          <div class="validate-input" *ngIf="!validImg.done">
            <p class="validate-input-label" *ngIf="validImg.empty">Ảnh không được bỏ trống</p>
          </div>
        </div>
      </div> 

      <div class="col-md-12">
        <label class="input-label" style="margin-top: 12px;">Mô tả</label>
        <textarea type="text" 
                  class="textarea-typing" 
                  [(ngModel)]="body.description" 
                  placeholder="Nhập mô tả">
        </textarea>
        <!-- <div class="validate-input" *ngIf="!validDescriptions.done">
          <p class="validate-input-label" *ngIf="validDescriptions.empty">Mô tả không được để trống</p>
          <p class="validate-input-label" *ngIf="validDescriptions.maxLength">Mô tả không được nhập quá 1000 ký tự</p>
        </div>  -->

      </div>

    </div>
  </div>

  <div class="modal-footer">
    <div class="btn-action">
      <div class="btn-action-dv gray" style="margin-right: 12px;" (click)="closeModal()">
        Hủy bỏ
      </div>
      <div class="btn-action-dv orange" (click)="submit()">Lưu lại</div>
    </div>
  </div>
</div>
