<div id="categoryAdd" class="mt-5" style="margin-left: 280px; margin-right: 40px;">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
  </div>

  <!-- Tìm kiểm sản phẩm -->
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <h2>Tìm kiếm sản phẩm</h2>
              <div class="col">
                <input type="text" 
                   class="input-typing overflow-dot" 
                   [(ngModel)]="codeProduct" (change)="filterByCodeProduct(1)"
                   [value]="resetFilterByCode" placeholder="Search by code" />
              </div>
              <!-- <div class="col">
                <input type="text" class="input-typing overflow-dot" 
                       [(ngModel)]="title" (change)="searchTitle($event)"
                       placeholder="Search by name and price" />
              </div> -->
            </div>
          </div>
          <div class="col-6">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-secondary mt-3" (click)="createO()">Tạo đơn hàng</button>
  </div>

  <div class="row mt-3">
    <div class="card">
      <div class="card-header">
        <!-- <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        *ngFor="let item of listOrder let i = index"
        (click)="getOneOrder(item.id)"
        >
          <mat-button-toggle
           value="{{item.id}}"
          >
            Hóa đơn {{i + 1}}</mat-button-toggle>
        </mat-button-toggle-group> -->
        <button *ngFor="let item of listOrder let i = index"
                (click)="getOneOrder(item.id);clickIndexButton(i)"
                class="btn btn-secondary"
                [ngClass]="{'background-color': validateNameSection[i]}"
                value="{{item.id}}" style="margin-left: 10px;">
                Hóa đơn {{i + 1}}
        </button>
      </div>
    </div>
  </div>


  <div class="row mt-3 mb-5">
    <div class="col-6 ps-0 mb-5">

      <!-- Thông tin hoa don đặt hàng -->
      <div class="card">
        <div class="card-header h-25 bg-primary">
          <div class="row">
            <h1 class="text-white">THÔNG TIN HÓA ĐƠN ĐẶT HÀNG</h1>
          </div>
        </div>

        <div class="card-body mt-3" style="overflow-x:auto;">
          <div class="row" *ngIf="doing">

            <div class="col-6">
              <div class="d-flex flex-row">
                <h1 class="">Mã HD:</h1>
                <h1 class="text-danger"> {{delivery.mahd}}</h1>
              </div>

              <div class="d-flex flex-row">
                <h1 class="">Số điện thoại:</h1>
                <h1 class="text-danger"> {{delivery.phone}}</h1>
              </div>
              <div class="d-flex flex-row">
                <h1 class="">Trạng Thái:</h1>
                <h1 class="text-danger"> {{delivery.paymentStatus == 'CHUATHANHTOAN' ? 'Đã Thanh Toán' : 'Chưa Thanh Toán' }}</h1>
              </div>

            </div>

            <div class="col-6">
              <!-- <div class="d-flex flex-row">
                <h1 class="">Nhân Viên:</h1>
                <h1 class="text-danger"> {{delivery.nameStaff}}</h1>
              </div> -->

              <div class="d-flex flex-row" *ngIf="delivery.orderStatus == 'DONCHO'">
                <h1 class="">Loại Đơn:</h1>
                <h1 class="text-danger"> Đơn Chờ</h1>
              </div>

              <div class="d-flex flex-row" *ngIf="delivery.orderStatus == 'DONLE'">
                <h1 class="">Loại Đơn:</h1>
                <h1 class="text-danger"> Đơn Lẻ</h1>
              </div>

              <div class="d-flex flex-row" *ngIf="delivery.orderStatus == 'TAIQUAY'">
                <h1 class="">Loại Đơn:</h1>
                <h1 class="text-danger"> Đơn Tại Quầy</h1>
              </div>

              <div class="d-flex flex-row" *ngIf="delivery.orderStatus == 'DONGIAO'">
                <h1 class="">Loại Đơn:</h1>
                <h1 class="text-danger"> Đơn Giao</h1>
              </div>


              <div class="d-flex flex-row">
                <h1 class="">Ngày tạo:</h1>
                <h1 class="text-danger"> {{delivery.createDate | date: "dd/MM/yyyy"}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="d-flex flex-row">
                <h1 class="">Tên Khách hàng:</h1>
                <h1 class="text-danger"> {{delivery.fullname}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="d-flex flex-row">
                <h1 class="">Địa chỉ:</h1>
                <h1 class="text-danger"> {{delivery.address}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Tao hoa don dat hang -->
      <div class="card mt-3" *ngIf="doing">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" (click)="setDeliveryOrder(0)" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">Tại Quầy</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" (click)="setDeliveryOrder(1)" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Đơn Giao</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" (click)="setDeliveryOrder(2)" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Đơn Lẻ</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <!-- tạo đơn tại quầy -->
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
              <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                <div class="col-4">
                    <label class="input-label">Họ Và Tên</label>
                    <input type="text" [(ngModel)]="orderAt.fullname"  class="input-typing overflow-dot" />
                </div>
                <!-- <div class="col-4">
                    <label class="input-label" for="phone">Số Điện Thoại</label>
                    <input [(ngModel)]="orderAt.phone"
                      (change)="searchFullnameOrder($event)"  class="input-typing overflow-dot" />
                </div> -->
                <div class="col-4">
                  <label class="input-label" for="phone">Số Điện Thoại</label>
                  <input [(ngModel)]="orderAt.phone" class="input-typing overflow-dot" />
              </div>
                <div class="col-4">
                </div>
              </div>
              <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                <div class="col-4">
                    <label> Chọn Tỉnh/Thành phố *</label>
                    <ng-select  
                          [items]="province" 
                          placeholder="Lựa chọn" 
                          class="input-select" 
                          bindLabel="ProvinceName" 
                          bindValue="ProvinceID"
                          [(ngModel)]="province" 
                          [searchable]="false" 
                          (change)="getDistrict($event)"
                          [clearable]="false">
                    </ng-select>
                </div>
                <div class="col-4">
                  <label>Chọn Quận/Huyện</label>
                  <ng-select [items]="district" 
                       placeholder="Lựa chọn" 
                       class="input-select" 
                       bindLabel="DistrictName" 
                       bindValue="DistrictID"
                       [(ngModel)]="district" 
                       [searchable]="false" 
                       (change)="getWard($event)"
                       [clearable]="false">
                  </ng-select>
                </div>
                <div class="col-4">
                  <label>Chọn Phường/Xã</label>
                  <ng-select [items]="ward" 
                      placeholder="Lựa chọn" 
                      class="input-select" 
                      bindLabel="WardName" 
                      bindValue="WardID"
                      [(ngModel)]="ward" 
                      (change)="selectWard($event)"
                      [searchable]="false" 
                      [clearable]="false">
                  </ng-select>
                </div>
              </div>

              <div class="row" style="margin-left: 7px;">
                <div class="form-group">
                  <label for="">Mo ta</label>
                  <textarea  class="form-control textarea-typing"  style="width: 740px;"
                    [(ngModel)]="orderAt.description">
                  </textarea>
                </div>
              </div>

              <div class="mt-2" *ngIf="doing" style="display: flex;justify-content: center;margin: 15px;">
                <button (click)="updateAtTheCounter()" style="width: 300px;"
                  class="btn btn-success">
                  Update
                </button>
              </div>
          </div>

          <!-- Tạo đơn giao -->
          <div class="tab-pane fade" id="pills-profile"  role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0" >
              <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                <div class="col-4">
                    <label class="input-label" for="fullname">Họ Và Tên</label>
                    <input type="text" [(ngModel)]="delivery.fullname"
                      class="input-typing overflow-dot" />
                </div>
                <!-- <div class="col-4">
                    <label class="input-label">Số Điện Thoại</label>
                    <input type="text"[(ngModel)]="delivery.phone"
                      (change)="searchFullnameOrder($event)" class="input-typing overflow-dot" />
                </div> -->
                <div class="col-4">
                  <label class="input-label">Số Điện Thoại</label>
                  <input type="text"[(ngModel)]="delivery.phone"
                         class="input-typing overflow-dot" />
              </div>
                <div class="col-4">
                  <div *ngIf="!doing">
                      <label class="input-label">Tiền Shipping</label>
                      <input [value]="shippingTotal" 
                             class="input-typing overflow-dot" disabled />
                  </div>

                  <div *ngIf="doing">
                      <label class="input-label">Tiền Shipping</label>
                      <input [(ngModel)]="delivery.shipping" [value]="shippingTotal"
                        class="input-typing overflow-dot" />
                  </div>

                </div>

              </div>
              <div class="row" style=" margin-left: 5px; margin-bottom: 10px;">
                <div class="col-4">
                  <label>Chọn Tỉnh/Thành Phố</label>
                  <ng-select  [items]="province" 
                              placeholder="Lựa chọn" 
                              class="input-select" 
                              bindLabel="ProvinceName" 
                              bindValue="ProvinceID"
                              [(ngModel)]="province" 
                              [searchable]="false" 
                              (change)="
                              getDistrict($event)"
                              [clearable]="false">
                  </ng-select>
                </div>
                <div class="col-4">
                  <label>Chọn Quận/Huyện</label>
                  <ng-select [items]="district" 
                      placeholder="Lựa chọn" 
                      class="input-select" 
                      bindLabel="DistrictName" 
                      bindValue="DistrictID"
                      [(ngModel)]="district" 
                      [searchable]="false" 
                      (change)="getWard($event)"
                      [clearable]="false">
                  </ng-select>
                </div>
                <div class="col-4">
                  <label>Chọn Phường/Xã</label>
                  <ng-select [items]="ward" 
                      placeholder="Lựa chọn" 
                      class="input-select" 
                      bindLabel="WardName" 
                      bindValue="WardID"
                      [(ngModel)]="ward" 
                      (change)="selectWard($event)"
                      [searchable]="false" 
                      [clearable]="false">
                  </ng-select>
                </div>

              </div>
              <div class="row" style="margin-left: 7px;">
                <div class="form-group">
                  <label for="">Mo ta</label>
                  <textarea  class="form-control textarea-typing"  style="width: 740px;"
                  [(ngModel)]="delivery.description">
                  </textarea>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-3"></div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-6">
                      <div class="mt-2" *ngIf="doing" style="margin-bottom: 10px;">
                        <button  style="width: 300px;" (click)="updateDeliveryOrders()"
                          class="btn btn-success">
                          Update
                        </button>
                      </div>
                    </div>
                    <div class="col-3">
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- Tạo đơn hàng lẻ -->
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
            tabindex="0">
            <div style="display: flex;justify-content: center; margin: 20px;">
                <button (click)="createRetailOrder()" style="width: 300px;" class="btn btn-primary">Tạo đơn lẻ</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 m-0 p-0">
      <!-- bang thong tin san pham dat -->
      <div class="card">
        <div class="card-header h-25 bg-primary">
          <div class="row">
            <h1 class="text-white">THÔNG TIN SẢN PHẨM ĐẶT HÀNG</h1>
          </div>
        </div>
        <div class="card-body mt-3" style="overflow-x:auto;">
          <table class="table table-bordered text-center mb-0">
            <thead>
              <tr>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Size</th>
                <th>Mau</th>
                <th>Tổng Tiền</th>
                <th>Thao Tác</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              <tr *ngFor="let orderD of orderDetails">
                <td class="align-middle">{{ orderD.productName }}</td>
                <td class="align-middle">{{ orderD.productPrice | currency:'VND' }}</td>
                <td class="align-middle">
                  <div class="input-group quantity mx-auto" style="width: 100px;">
                    <div class="input-group-btn">
                      <button (click)="minusQuantity(orderD.productId,orderD.orderId,orderD.quantity)"
                        class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input type="text" class="form-control form-control-sm bg-white text-dark text-center"
                      (change)="updateQuantity(orderD.productId,orderD.orderId,orderD.quantity)"
                      [(ngModel)]="orderD.quantity">
                    <div class="input-group-btn">
                      <button (click)="plusQuantity(orderD.productId,orderD.orderId,orderD.quantity)"
                        class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">{{ orderD.sizeName}}</td>
                <td class="align-middle">{{ orderD.colorName}}</td>
                <td class="align-middle">{{ orderD.total | currency:'VND' }}</td>
                <td class="align-middle"><button (click)="deleteOrderDetail(orderD.id)"
                    class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Thong tin san pham dat hang -->
      <div class="card mt-3 mb-5">
        <div class="row p-0 mt-3 m-0">
          <div class="col-6 ">
            <div class="d-flex flex-row">
              <h1 class="">Tổng tiền:</h1>
              <h1 class="text-danger"> {{ totalAmount | currency:'VND' }}</h1>
            </div>

            <div class="d-flex flex-row" *ngIf="isDeliveryOrder">
              <h1 class="">Tiền shipping:</h1>
              <h1 class="text-danger"> {{ shippingTotal | currency:'VND'}}</h1>
            </div>
            <hr />
            <div class="d-flex flex-row">
              <h1 class="">Thành Tiền:</h1>
              <h1 class="text-danger"> {{ total | currency:'VND'}}</h1>
            </div>
          </div>
          <div class="col-3">
            <!-- <div class="form-group mt-2">
              <input class="input-typing overflow-dot" placeholder="Tiền khách trả">
            </div> -->
          </div>
          <div class="col-3">
            <div class="mt-2">
              <button (click)="confirmCheckoutAtTheCounter(confirmCheckout)"
              class="btn btn-primary">Thanh
                Toán</button>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


  <!-- Thong tin sản phẩm-->
  <ng-template #cancelled let-c="close" let-d="dismiss" class="customer">
    <div class="modal-header">
      <h1 class="modal-title">Danh Sách Sản Phẩm</h1>
      <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <div class="card mb-2" *ngIf="doing === true">
        <div class="card-body">
          <div class="row">
            <div class="d-flex flex-row">
              <h1> {{rowData.name}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
            </div>
            <div class="col-7">
              <div class="d-flex flex-row">
                <h1 class="">- Mã SP: </h1>
                <h1> {{rowData.code}}</h1>
              </div>
              <div class="d-flex flex-row">
                <h1 class="">- Giá: </h1>
                <h1 class="text-danger"> {{rowData.priceNew | currency:'VND'}}</h1>
              </div>
              <div class="d-flex flex-row">
                <h1 class="">- Số lượng: </h1>
                <h1> {{rowData.quantity}}</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-3">
              <button (click)="createOrderDetail()" (click)="c('Close click')" class="btn btn-success">Thêm</button>
            </div>
            <div class="col-4">
            </div>
          </div>
        </div>
      </div> -->
      <div>
        <div class="card mb-2" *ngFor="let item of rowData">
          <div class="card-body">
            <div class="row">
              <div class="d-flex flex-row">
                <h1> {{item.name}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <!-- <img src="{{item.imageLink}}" class="img-fluid" alt=""> -->
              </div>
              <div class="col-7">
                <div class="d-flex flex-row">
                  <h1 class="">- Mã SP: </h1>
                  <h1> {{item.code}}</h1>
                </div>
                <div class="d-flex flex-row">
                  <h1 class="">- Giá: </h1>
                  <h1 class="text-danger"> {{item.priceNew | currency:'VND'}}</h1>
                </div>
                <div class="d-flex flex-row">
                  <h1 class="">- Số lượng: </h1>
                  <h1> {{item.quantity}}</h1>
                </div>
                <div class="d-flex flex-row">
                  <label for="" style="color: #222; font-size: .9em;font-weight: 700; margin-right: 40px;">Size:</label>
                  <div style="border: 1px solid gray;padding: 5px 11px; margin-right: 10px; cursor: pointer;" 
                      *ngFor="let item of listSize"
                      [ngStyle]="{'border': selectedSize === item.key ? '2px solid blue' : '1px solid gray'}"
                      (click)="selectSize(item)">
                      {{item.value}}
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <label for="" style="color: #222; font-size: .9em;font-weight: 700; margin-right: 40px;">Màu:</label>
                  <div 
                    style="border: 1px solid gray;padding: 5px 11px; margin-right: 10px; cursor: pointer;"
                    [ngStyle]="{'border': selectedColor === item.key ? '2px solid blue' : '1px solid gray'}"
                    (click)="selectColor(item)"
                    *ngFor="let item of listColor"
                    >{{item.value}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5"></div>
              <div class="col-3">
                <button (click)="createOrderDetail(item)" (click)="c('Close click')" class="btn btn-success">Thêm</button>
              </div>
              <div class="col-4">
                <a [routerLink]="['/product-detail', item.id]" (click)="c('Close click')" class="btn btn-primary">Xem
                  chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>

  </ng-template>
  <!-- Thong tin sản phẩm-->


  <!-- Xac nhan dat hang -->
  <ng-template #confirmCheckout let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h1 class="modal-title">Xác nhận đơn đặt hàng</h1>
      <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1 class="text-danger">Bạn có muốn thanh toán đơn hàng này không ?</h1>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="checkoutAtTheCounter()" (click)="c('Close click')" type="submit">Thanh
        Toán</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </ng-template>

  <!-- Xac nhan dat hang -->

</div>
